<html>
<head>
  <title>SageModeler: IFrame Test</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="build-info" content="<%= htmlWebpackPlugin.options.__BUILD_INFO__ %>" >
  <meta name="environment" content="<%= htmlWebpackPlugin.options.__ENVIRONMENT__%>" >

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <style>
    iframe {
      width: 800;
      height: 500;
    }
  </style>
</head>
<body>
    <p>This iframes the root index.html which should cause it to redirect to the app folder</p>
    <p>
      <iframe src="index.html"></iframe>
    </p>
</body>
</html>
