<html>
<head>
  <title>SageModeler</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="build-info" content="<%= htmlWebpackPlugin.options.__BUILD_INFO__ %>" >
  <meta name="environment" content="<%= htmlWebpackPlugin.options.__ENVIRONMENT__%>" >

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <script src="detect-autoredirect-to-app.js"></script>
</head>
<body>
    <p>This is the placeholder for the microsite</p>
    <p>
      <b>Links (opens new tab)</b>
      <ul>
        <li><a href="app/" target="_blank">Link to new /app/index.html</a></li>
        <li><a href="index.html#shared=99794" target="_blank">Link to /index.html with shared file (should redirect to app/index.htm with shared file)</a></li>
        <li><a href="index.html?foo=bar" target="_blank">Link to /index.html with query string (should redirect to app/index.html with foo=bar query string)</a></li>
        <li><a href="iframe-test.html" target="_blank">IFrame test page</a></li>
      </ul>
    </p>
</body>
</html>
