<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>SageModeler Report Item</title>
    <meta name="description" content="SageModeler Report Item Interactive">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="report-item.css">
  </head>
  <body>
    <div id="reportItemApp">
      <div class="centered">
        <div class="progress">
          Loading...
        </div>
      </div>
    </div>
  </body>
</html>
